<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
<th:block layout:fragment="customCss">
<!-- JQuery DataTable Css -->
    <link href="/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
</th:block>

 <th:block layout:fragment="customTitle">
 <title>신고 종합 관리</title>
 </th:block> 
<th:block layout:fragment="customCss">
	<!-- JQuery DataTable Css -->
    <link href="/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <style>
    	::-webkit-scrollbar { display: none; }
    </style>
</th:block> 
 <th:block layout:fragment="customHeadScript">
 
	  		
	
	
	</script>
</th:block> 
 <th:block layout:fragment="customContents">
	<section class="content">
		<div class="col-lg-12">
			<div class="card">
				<div class="header">
	                <h2>종합 신고 관리</h2>
	                <ul class="header-dropdown m-r--5">
	                    <li class="dropdown">
	                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	                            <i class="material-icons">more_vert</i>
	                        </a>
	                        <ul class="dropdown-menu pull-right">
	                            <li><a href="/reportlist/searchReport" class=" waves-effect waves-block">유기,유실 동물등록</a></li>
	                            <li><a href="/reportlist/lostreport" class=" waves-effect waves-block">분실 동물등록</a></li>
	                        </ul>
	                    </li>
	                </ul>
				</div>
				<div class="body">
	                <div class="row clearfix">
	                	<div class="col-xs-6 col-md-3" >
	                    	<a th:href="@{/reportlist/searchReportList}">
		                        <button class="btn btn-default btn-lg btn-block waves-effect" type="button">유기,유실동물 게시판</button>
	                    	</a>
	                    	
	                    </div>
	                    <div class="col-xs-6 col-md-3" >
	                  	  	<a th:href="@{/reportlist/lostReportList}">
		                        <button class="btn btn-default btn-lg btn-block waves-effect" type="button">분실 동물 게시판</button>
	                    	</a>
	                    </div>
	                    <div class="col-xs-6 col-md-3" th:each="c:${Cnt}">
	                    	<a th:href="@{/animalcenter/animalcenterlist(send_type=${c.animalType})}">
		                        <button class="btn btn-default btn-lg btn-block waves-effect" type="button">
		                        [[${c.animalType}]] <span class="badge">[[${c.cnt}]]</span></button>
	                    	</a>
	                    </div>
	                </div>
	                <div class="table-responsive" style="overflow: hidden;">
	                    <table id="dataTabelEaxm1" class="table table-bordered table-striped table-hover">
	                        <thead>
	                            <tr>
		                            <th data-orderable="false"></th>
		                            <th><div class="align-center">신고 코드</div></th>
		                            <th><div class="align-center">유기코드</div></th>
		                            <th><div class="align-center">분실코드</div></th>
		                            <th><div class="align-center">처리상태</div></th>
		                            <th><div class="align-center">신고인</div></th>
		                            <th><div class="align-center">신고날짜</div></th>
		                            <th><div class="align-center">신고취소날짜</div></th>
		                            <th data-orderable="false"><div class="align-center">수정</div></th>
		                            <th data-orderable="false"><div class="align-center">삭제</div></th>
		                        </tr>
	                        </thead>
	                        <tbody>
	                            <tr th:each="rl, i : ${reportList}" class="odd">
	                       			<!-- <td><div class="align-center"><span class="label label-warning">new</span></div></td> -->
				                    <td><div class="align-center">[[${i.size - i.index}]]</div></td>
				                    <td><div class="align-center">[[${rl?.acceptCode}]]</div></td>
		                            <td><div class="align-center">[[${rl.searchReport?.searchReportCode}]]</div></td>
		                            <td><div class="align-center">[[${rl.lostReport?.lostReportCode}]]</div></td>
		                            <td><div class="align-center">[[${rl?.acceptState}]]</div></td>
		                            <td><div class="align-center">[[${rl?.member?.memberId}]]</div></td>
		                           	<td><div class="align-center">[[${rl.acceptInDate}]]</div></td>
		                            <td><div class="align-center">[[${rl?.acceptOutDate}]]</div></td>
		                           	<td><div class="align-center">
		                            	<a th:href="@{/reportlist/reportManagerDetail(searchReportCode=${rl.searchReport?.searchReportCode},lostReportCode=${rl.lostReport?.lostReportCode})}">
	                       				<i class="material-icons"></i>상세보기</a></div>
	                      			</td>
	                      			<td>
	                      				<div class="align-center">
		                      				<button type="button" class="delete" th:data-myurl="@{/reportlist/deletelist(searchReportCode=${rl.searchReport?.searchReportCode},lostReportCode=${rl.lostReport?.lostReportCode})}" >
		                      					<i class="material-icons">delete</i>
		                      				</button>
	                      				</div>	
	                      			</td>
		                           
	                        	</tr>
	                        </tbody>
	                    </table>
	                </div>
	            </div>
			</div>
		</div>
	</section>
            
 </th:block> 

<th:block layout:fragment="customFooterScript">
	  <!-- Bootstrap Colorpicker Js -->
    <script src="../../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

    <!-- Dropzone Plugin Js -->
    <script src="../../plugins/dropzone/dropzone.js"></script>

    <!-- Input Mask Plugin Js -->
    <script src="../../plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>

    <!-- Multi Select Plugin Js -->
    <script src="../../plugins/multi-select/js/jquery.multi-select.js"></script>

    <!-- Jquery Spinner Plugin Js -->
    <script src="../../plugins/jquery-spinner/js/jquery.spinner.js"></script>

    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

        <!-- Jquery DataTable Plugin Js -->
    <script src="/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
	    <script>
    	$(function(){
    		$('#dataTabelEaxm1').dataTable({
    			"aaSorting": []
    		});
    		
    		$('.delete').click(function(){
    			swal('삭제하시겠습니까?', {
					title:'경고',
					icon:'error',
					buttons: true,
				})
    			.then((Delete) => {
    				var val = $(this).data('myurl');
    				console.log(val);
    				if(Delete){
    					swal({
    							title: '확인',
    					      	icon: "warning",
    					      	text:"정말로 삭제하시겠습니까?",
    					      	buttons: true,
    					    })
    					    .then((value) => {
    					    	if(value) location.href = val;
    					    });
    				}else{
    					console.log('취소');
    				}
    			});
    		});
			
    	});
    </script>
    </script>
</th:block>
 
</html>