<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">

<th:block layout:fragment="customCss">
	<!-- Bootstrap Select Css -->
    <link href="../../plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
</th:block>

<th:block layout:fragment="customTitle">
	<title>분양동물 기간관리 수정</title>
</th:block> 
<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="col-lg-12">
			<div class="card">
				<div class="header">
					<h2>분양동물 기간관리 수정</h2>
				</div>
				<form action="/petAdoptionUpdate" method="post">
				<div class="body">
					<div class="clearfix">
							<div class="row">
				      			<div class="col-md-3">
				      				<b>회원 아이디</b>
					                <div class="input-group colorpicker colorpicker-element">
					                    <div class="form-line">
					                        <input type="text" name="memeberId" class="form-control" th:value="1111" readonly="readonly">
					                    </div>
					       			</div>
				      			</div>
				      			<div class="col-md-3 col-md-offset-1">
				      				<b>입양인 이름</b>
					                <div class="input-group colorpicker colorpicker-element">
					                    <div class="form-line">
					                        <input type="text" name="memberName" class="form-control" value="이경진" readonly="readonly">
					                    </div>
					       			</div>
				      			</div>
					      		<div class="col-md-3">
					           		<b>현재 상태</b>
					           		<div class="input-group">
						           		<select class="form-control" name="petAdoptionState">
						           			<option value="">====== 선택 ======</option>
						           			<option value="#">관리 진행중</option>
			            					<option value="#">관리 완료</option>
			            					<option value="#">중도 포기</option>
			            				</select>
					           		</div>
			           			</div>
			        	</div>
           			</div>
				 <div class="body">
	            	<button type="submit" class="btn bg-amber btn-block btn-lg waves-effect">보증금 수정</button>
	            </div>
	      		</form>
	      		</div>
			</div>
				
	</section>
</th:block> 

<th:block layout:fragment="customFooterScript">
</th:block>
 
</html>
