<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
	
<th:block layout:fragment="customTitle">
	<title>관리자화면</title>
</th:block> 
<th:block layout:fragment="customCss">
	<style>
		::-webkit-scrollbar { display: none; }
		.commuteBtn {
			background: none;
			border: none;
		}
	</style>
</th:block>
<th:block layout:fragment="customHeadScript">
 	
</th:block> 
	 
<th:block layout:fragment="customContents">
 	<section class="content">
		<div class="container-fluid">
			<div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box hover-zoom-effect">
                        <div class="icon bg-pink">
               				<a href="/note/noteList">
                           		<i class="material-icons">email</i>
               				</a>
                        </div>
                        <div class="content">
                            <div class="text">MESSAGES</div>
                            <div class="number">[[${noteCnt}]]</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box hover-zoom-effect">
                        <div class="icon bg-blue">
		                	<a href="/animalcenter/animalcenterlist">
                            	<i class="material-icons">pets</i>
		                	</a>
                        </div>
                        <div class="content">
                            <div class="text">보호중인 유기동물 수</div>
                            <div class="number">[[${animalCnt}]]</div>
                        </div>
                    </div>
                </div>
				<th:block th:if="${session.com} != null">
	                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                       	<th:block th:if="${session.com.commute?.commuteStartTime} == null">
		                    <div class="info-box hover-zoom-effect">
		                        <div class="icon bg-light-blue">
	                           		<button type="button" class="commuteBtn" id="startBtn2" th:data-start="'/staff/startWork?send_code='+${session.com.staffCode}"><i class="material-icons">출근</i></button>
	                        	</div>
		                        <div class="content">
		                            <div class="number">출근버튼</div>
		                        </div>
	                    	</div>
                       	</th:block>
                       	<th:block th:if="${session.com.commute?.commuteStartTime} != null">
 	                    	<div class="info-box">
		                        <div class="icon bg-default">
                           			<button type="button" class="commuteBtn" disabled><i class="material-icons">access_alarm</i></button>
		                        </div>
		                        <div class="content">
		                            <div class="number">출근시간</div>
		                            <th:block th:if="${session.com.commute?.commuteStartTime} != null">
			                            <div class="text"><small>[[${session.com.commute?.commuteStartTime}]]</small></div>
		                            </th:block>
		                        </div>
	                    	</div>
                       	</th:block>
	                </div>
	                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                       	<th:block th:if="${session.com.commute?.commuteEndTime} == null">
                     		<div class="info-box hover-zoom-effect">
		                        <div class="icon bg-cyan">
									<button type="button" class="commuteBtn" id="endBtn2" th:data-end="'/staff/endWork?send_code='+${session.com.commute?.commuteCode}"><i class="material-icons">gps_fixed</i></button>
		                        </div>
		                        <div class="content">
		                            <div class="number">퇴근버튼</div>
		                        </div>
	                    	</div>
                  		</th:block>
                   		<th:block th:if="${session.com.commute?.commuteEndTime} != null">
		                    <div class="info-box">
		                        <div class="icon bg-default">
									<button type="button" class="commuteBtn" disabled><i class="material-icons">gps_fixed</i></button>
		                        </div>
		                        <div class="content">
		                            <div class="number">퇴근시간</div>
		                            <th:block th:if="${session.com.commute?.commuteEndTime} != null">
			                            <div class="text"><small>[[${session.com.commute?.commuteEndTime}]]</small></div>
		                            </th:block>
		                        </div>
		                    </div>
                       	</th:block>
	                </div>
	        	</th:block>
            </div>
			<div class="row">
                <div class="col-xs-12 col-md-7">
                    <div class="card">
                        <div class="header">
                            <h2>
                            	분양 가능한 동물
                            </h2>
                        </div>
                        <div class="body" style="height:320px; overflow: auto;">
                           	<div th:each="c : ${CARS}">
								<div class="col-md-3 col-sm-6 col-xs-12">
									<a th:href="@{/animalcenter/animalcenterpage(send_code=${c.animalCenter.animalInsertCode})}" class="thumbnail">
										<img th:src="'/files/'+${c.animalCenter.animalPicture}" style="width:125px; height:125px;">
									</a>
									<table>
										<tr>
											<th>번호 | </th>
											<th>[[${c.animalCenter.animalCenterNumber}]]</th>
										</tr>
										<tr>
											<td>성별 | </td>
											<td>[[${c.animalCenter.animalGender}]]</td>
										</tr>
										<tr>
											<td>나이 | </td>
											<td>[[${c.animalCenter.animalAge}]]</td>
										</tr>
										<tr>
											<td>무게 | </td>
											<td>[[${c.animalCenter.animalWeight}]]</td>
										</tr>
										<tr>
											<td>특징 | </td>
											<td>[[${c.animalCenter.animalCharacter}]]</td>
										</tr>
									</table>
								</div>
							</div>
                        </div>
                    </div>
                </div>
				<div class="col-xs-12 col-md-5">
					<div class="card">
						<div class="header">
							<h2>보유중인 유기동물</h2>
						</div>
						<div class="body" style="height:320px">
							<canvas id="pie_chart"></canvas>
						</div>
						
						<div th:each="c : ${cnt}">
							<input type="hidden" class="aniType" th:value="${c.cnt}">
						</div>
					</div>
				</div>
            </div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="header">
							<h2>후기 관리 리스트</h2>
						</div>
						<div class="body">
							<div class="table-responsive" style="overflow: hidden;">
			                    <table id="dataTabelEaxm1" class="table table-bordered table-striped table-hover">
			                        <thead>
				                            <tr role="row">
				                            	<th></th>
				                            	<th><div class="align-center">회원 아이디</div></th>
				                            	<th><div class="align-center">회원 이름</div></th>
				                            	<th><div class="align-center">등록 횟수</div></th>
				                            	<th><div class="align-center">누락 횟수</div></th>
				                            	<th><div class="align-center">등록 날짜</div></th>
				                            	<th><div class="align-center">후기관리 날짜</div></th>
				                            	<th><div class="align-center">담당자</div></th>
				                            	<th data-orderable="false"><div class="align-center">수정</div></th>
				                            	<th data-orderable="false"><div class="align-center">삭제</div></th>
				                            </tr>
				                        </thead>
			                        <tbody>
					                        <tr th:each="RVL, i : ${RVL}" class="odd">
					                        	<td><div class="align-center">[[${i.size - i.index}]]</div></td>
				                              	<td><div class="align-center">[[${RVL.member.memberId}]]</div></td>
				                              	<td><div class="align-center">[[${RVL.member.memberName}]]</div></td>
				                              	<td><div class="align-center">[[${RVL.reviewCount}]]</div></td>
				                              	<td><div class="align-center">[[${RVL.reviewOmissionCount}]]</div></td>
				                              	<td><div class="align-center">[[${RVL.reviewDate}]]</div></td>
				                              	<td><div class="align-center">[[${RVL.reviewManagementPeriod}]]</div></td>
				                              	<td><div class="align-center">[[${RVL.staff.staffName}]]</div></td>
				                                <td><div class="align-center">
				                                	<a th:href="@{/review/reviewUpdate(reviewCode=${RVL.reviewCode})}" style="color: #9E9E9E">
				                       				<i class="material-icons">update</i></a></div>
				                      			</td>
				                      			<td><div class="align-center">
							                       	<a class = "delete" th:data-myurl="'/review/reviewDelete?reviewCode=' + ${RVL.reviewCode}" href="javascript:void(0)">
							                       	<i class="material-icons">delete</i></a></div>
					                      		</td>
					                        </tr>
				                    </tbody>
			                    </table>
			                </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block> 
 

<th:block layout:fragment="customFooterScript"> 
	<script src="/plugins/chartjs/Chart.bundle.js"></script>	
	<!-- Jquery DataTable Plugin Js -->
    <script src="/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
	<script>
		$(function(){
			$('#startBtn2').click(function(){
				console.log("!!!!!");
				swal('출근 하시겠습니까?', {
					title:'경고',
					icon:'info',
					buttons: true,
				})
				.then((result) => {
					var val = $(this).data('start');
					if(result){
					    if(result)	location.href = val;
					}else{
						console.log('취소');
					}
				});
			});
			
			$('#endBtn2').click(function(){
				swal('퇴근 하시겠습니까?', {
					title:'경고',
					icon:'info',
					buttons: true,
				})
				.then((result) => {
					var val = $(this).data('end');
					if(result){
					    if(result) location.href = val;
					}else{
						console.log('취소');
					}
				});
			});
			
			new Chart(document.getElementById('pie_chart').getContext('2d'), getChartJs('pie'));
			
			$('#dataTabelEaxm1').dataTable({
				paging: false,
				searching: false,
				select:false,
				ordering: false,
				scrollY: 250,
    			"aaSorting": []
    		});
			
			//삭제 유효성
    		$('.delete').click(function(){
    			swal({
					title: '경고',
					text: '삭제하시겠습니까?', 
					icon: 'error',
					buttons: true,
				})
    			.then((Delete) => {
    				var val = $(this).data('myurl');
    				console.log(val);
    				if(Delete){
    					swal({
    							title: '확인',
    							text: "정말로 삭제하시겠습니까?", 
    					      	icon: "warning",
    					      	buttons: true,
    					    })
    					    .then((value) => {
    					    	if(value) location.href = val;
    					    });
    				}else{
    					console.log('취소');
    				}
    			});
    		});
		});
		
		var cnt = document.getElementsByClassName('aniType');
		
		function getChartJs(type) {
		    if (type === 'pie') {
		        config = {
		            type: 'pie',
		            data: {
		                datasets: [{
		                    data: [cnt[0].value, cnt[1].value, cnt[2].value],
		                    backgroundColor: [
		                        "rgb(233, 30, 99)",
		                        "rgb(255, 193, 7)",
		                        "rgb(0, 188, 212)"
		                    ],
		                }],
		                labels: [
		                    "강아지",
		                    "고양이",
		                    "기타",
		                ]
		            },
		            options: {
		                responsive: true
		            }
		        }
		    }
		    return config;
		}
		
	</script>
</th:block>

</html>