<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.memory.mapper.AnimalReportMapper">

	<resultMap type="SearchReportAnimal" id="searchReportAnimal">
		<result property="searchReportCode" column="search_report_code"></result>
		<result property="searchReportInDate" column="search_report_in_date"></result>
		<result property="searchReportOutDate" column="search_report_out_date"></result>
		<result property="animalGender" column="animal_gender"></result>
		<result property="animalDetail" column="animal_detail"></result>
		<result property="animalLocation" column="animal_location"></result>
		<result property="animalPicture" column="animal_picture"></result>
		<association property="animalType" javaType="AnimalType">
			<result property="animalTypeCode" column="animal_type_code"></result>
			<result property="animalType" column="animal_type"></result>
			<result property="animalTypeSub" column="animal_type_sub"></result>
			<result property="animalTypeRegDate" column="animal_type_reg_date"></result>
		</association>
		<association property="member" javaType="Member">
			<result property="memberId" column="member_id"></result>
			<result property="memberPw" column="member_pw"></result>
			<result property="memberName" column="member_name"></result>
			<result property="memberPhone" column="member_phone"></result>
			<result property="memberAddr" column="member_addr"></result>
			<result property="memberEmail" column="animal_type_reg_date"></result>
			<result property="memberInDate" column="animal_type_reg_date"></result>
			<association property="level" javaType="Level">
				<result property="levelCode" column="level_code"></result>
				<result property="levelName" column="level_name"></result>
				<result property="levelNum" column="level_num"></result>
				<result property="levelInDate" column="level_in_date"></result>
			</association>
		</association>
	</resultMap>
	
	<resultMap type="LostReportAnimal" id="lostReportAnimal">
		<result property="lostReportCode" column="lost_report_code"></result>
		<result property="animalName" column="animal_name"></result>
		<result property="animalGender" column="animal_gender"></result>
		<result property="animaFeature" column="animal_feature"></result>
		<result property="lostReportState" column="lost_report_state"></result>
		<result property="lostReportLocation" column="lost_report_location"></result>
		<result property="lostReportInDate" column="lost_report_in_date"></result>
		<result property="lostReportOutDate" column="lost_report_out_date"></result>
		<result property="lostAnimalPicture" column="lost_animal_picture"></result>
		<association property="animalType" javaType="AnimalType">
			<result property="animalTypeCode" column="animal_type_code"></result>
			<result property="animalType" column="animal_type"></result>
			<result property="animalTypeSub" column="animal_type_sub"></result>
			<result property="animalTypeRegDate" column="animal_type_reg_date"></result>
		</association>
		<association property="member" javaType="Member">
			<result property="memberId" column="member_id"></result>
		</association>	
	</resultMap>
	
	<resultMap type="ReportManger" id="reportManager">
		<result property="acceptCode" column="accept_code"></result>
		<result property="acceptState" column="accept_state"></result>
		<result property="acceptInDate" column="accept_in_date"></result>
		<result property="acceptOutDate" column="accept_out_date"></result>
		<association property="searchReport" javaType="SearchReportAnimal"> 
			<result property="searchReportCode" column="report_code"></result><!--search_report_code로 하면 안된다  -->
			<result property="animalLocation" column="animal_location"></result>
			<result property="searchReportInDate" column="search_report_in_date"></result>
		</association>
		<association property="lostReport" javaType="LostReportAnimal">
			<result property="lostReportCode" column="lost_report_code"></result>		
			<result property="lostReportLocation" column="lost_report_location"></result>
			<result property="lostReportInDate" column="lost_report_in_date"></result>		
		</association>
		<association property="member" javaType="Member">
			<result property="memberId" column="member_id"></result>		
		</association>
	</resultMap>
	
	<insert id="insertAnimalReport" parameterType="SearchReportAnimal">
		<selectKey resultType="String" order="BEFORE" keyProperty="searchReportCode">
			SELECT (
			case COUNT(*)
					when 0 then 'search_report_1'
			ELSE  CONCAT('search_report_',max(cast(	substr(search_report_code,15) as decimal))+1)
					END	)
			AS searchReportCode
			fROM tb_search_report;
		</selectKey>
		INSERT INTO tb_search_report
		(search_report_code, animal_code, animal_gender, animal_detail, animal_location, animal_picture, member_id, search_report_in_date)
		VALUES (#{searchReportCode}, #{animalType.animalTypeCode}, #{animalGender}, #{animalDetail}, #{animalLocation}, #{animalPicture}, #{member.memberId}, NOW())
	</insert>
	<insert id="insertLostReportAnimal" parameterType="LostReportAnimal">
		<selectKey resultType="String" order="BEFORE" keyProperty="lostReportCode">
			SELECT (
			case COUNT(*)
					when 0 then 'lost_report_code_1'
					ELSE  CONCAT('lost_report_code_',max(cast(	substr(lost_report_code,18) as decimal))+1)
					END	)
			AS lostReportCode
			fROM tb_lost_report;
		</selectKey>
	INSERT INTO tb_lost_report
	(lost_report_code, animal_code, animal_name, animal_gender, animal_feature, member_id, lost_report_state, lost_report_in_date, lost_report_location,lost_animal_picture)
	VALUES (#{lostReportCode},#{animalType.animalTypeCode} ,#{animalName} , #{animalGender}, #{animaFeature}, #{member.memberId}, #{lostReportState} , NOW(),#{lostReportLocation},#{lostAnimalPicture})
	
	</insert>
	<insert id="insertAniSearchReportManager" parameterType="ReportManger">
		<selectKey resultType="String" order="BEFORE" keyProperty="acceptCode">
			SELECT (
			case COUNT(*)
					when 0 then 'accept_1'
					ELSE  CONCAT('accept_',max(cast(	substr(accept_code,8) as decimal))+1)
					END	)
			AS acceptCode
			FROM tb_report_manager;
		</selectKey>
		INSERT INTO tb_report_manager
			(accept_code
			, report_code
			, accept_state
			, member_id
			, accept_in_date
			, report_location
			, accept_out_date
			)
				VALUES (#{acceptCode}
				, #{searchReport.searchReportCode}
				, '처리중'
				,#{member.memberId}
				,#{searchReport.searchReportInDate}
				,#{searchReport.animalLocation}
				,null
			 )
	</insert>
	<update id="searchReportCancel"  parameterType="SearchReportAnimal">
		UPDATE tb_search_report
		SET
			search_report_out_date=CURDATE()
		WHERE search_report_code=#{searchReportCode};
	</update>
	
	<update id="lostReportCancel" parameterType="LostReportAnimal">
		UPDATE tb_lost_report
		SET
			lost_report_out_date=CURDATE()
		WHERE lost_report_code=#{lostReportCode}
	</update>
	
	<insert id="insertAniLostReportManager" parameterType="ReportManger">
		<selectKey resultType="String" order="BEFORE" keyProperty="acceptCode">
			SELECT (
			case COUNT(*)
					when 0 then 'accept_1'
					ELSE  CONCAT('accept_',max(cast(substr(accept_code,8) as decimal))+1)
					END	)
			AS acceptCode
			FROM tb_report_manager;
		</selectKey>
			INSERT INTO tb_report_manager
				(accept_code
				, accept_state
				, member_id
				, accept_in_date
				, accept_out_date
				, lost_report_code
				,report_location)
				VALUES (
				#{acceptCode}
				, '처리중'
				, #{member.memberId}
				, #{lostReport.lostReportInDate}
				,null
				, #{lostReport.lostReportCode}
				,#{lostReport.lostReportLocation})
				 
	</insert>
	
	<select id="selectAllReport" resultMap="reportManager">
			SELECT 
				r.*
			FROM 
			 tb_report_manager AS r 
			 
			 left join
			
			tb_lost_report AS l 
			
			ON r.lost_report_code=l.lost_report_code
			left JOIN tb_search_report AS s
			ON r.report_code=s.search_report_code;
	</select>
	<select id="selectSearchReportAnimal" parameterType="SearchReportAnimal" resultMap="searchReportAnimal">
		SELECT *
		from tb_search_report AS s join tb_animal_type AS a
		ON s.animal_code=a.animal_type_code
		<where>
		 <if test="searchReportCode!=null and searchReportCode !=''.toString()"> s.search_report_code=#{searchReportCode}</if>
		</where>	
		;
	</select>
	<select id="selectLostReportAnimal" parameterType="LostReportAnimal" resultMap="lostReportAnimal">
		SELECT *
		from
		tb_lost_report AS l JOIN tb_animal_type AS a
		ON l.animal_code=a.animal_type_code
		<where>
		 <if test="lostReportCode!=null and lostReportCode !=''.toString()">l.lost_report_code=#{lostReportCode}</if>
		</where>
		;
	</select>
	
	<delete id="deletelostReportManger" parameterType="ReportManger">
		DELETE FROM tb_report_manager
		where lost_report_code=#{lostReport.lostReportCode}
		
		
	</delete>
	<delete id="deletesearchReportManger" parameterType="ReportManger">
		DELETE FROM tb_report_manager
		where
		report_code=#{searchReport.searchReportCode}
		
		
	</delete>
	
	<delete id="deleteSearchReportAnimal" parameterType="SearchReportAnimal">
		DELETE FROM tb_search_report WHERE search_report_code=#{searchReportCode}
	</delete>
	
	<delete id="deleteLostReportAnimal" parameterType="LostReportAnimal">
		DELETE FROM tb_lost_report WHERE lost_report_code=#{lostReportCode}
	</delete>
	
	<update id="updateLostReportAnimal" parameterType="LostReportAnimal">
		UPDATE tb_lost_report
		SET
			animal_code=#{animalType.animalTypeCode},
			animal_name=#{animalName},
			animal_gender=#{animalGender},
			animal_feature=#{animaFeature},
			lost_animal_picture=#{lostAnimalPicture},
			lost_report_in_date=#{lostReportInDate},
			lost_report_location=#{lostReportLocation}
		WHERE lost_report_code=#{lostReportCode}
	</update>

	
	<update id="updateSearchReport"  parameterType="SearchReportAnimal">
		UPDATE tb_search_report
		SET
			animal_code=#{animalType.animalTypeCode},
			animal_gender=#{animalGender},
			animal_detail=#{animalDetail},
			animal_location=#{animalLocation},
			animal_picture=#{animalPicture},
			search_report_in_date=#{searchReportInDate}
		WHERE search_report_code=#{searchReportCode}
	</update>
	
	<update id="updateReportManager" parameterType="ReportManger">
		UPDATE tb_report_manager
		SET
			<if test="searchReport!=null and searchReport !=''.toString()">
			accept_in_date=#{searchReport.searchReportInDate},
			report_location=#{searchReport.animalLocation}
			</if>
			 <if test="lostReport!=null and lostReport !=''.toString()">
			 accept_in_date=#{lostReport.lostReportInDate},
			 report_location=#{lostReport.lostReportLocation}
			 </if>
		<where>
		 <if test="lostReport!=null and lostReport !=''.toString()">lost_report_code=#{lostReport.lostReportCode} </if>
		 <if test="searchReport!=null and searchReport !=''.toString()">report_code=#{searchReport.searchReportCode}</if>
		</where>
	</update>
	
	
</mapper>