<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.memory.mapper.MemberMapper">
	
	<resultMap type="Member" id="getMemberMap">
		<result property="memberAddr1" column="member_addr1"></result>
		<result property="memberAddr2" column="member_addr2"></result>
		<result property="memberAddr3" column="member_addr3"></result>
		<result property="memberAddr4" column="member_addr4"></result>
		<result property="memberEmail" column="member_email"></result>
		<result property="memberId" column="member_id"></result>
		<result property="memberInDate" column="member_in_date"></result>
		<result property="memberName" column="member_name"></result>
		<result property="memberPhone" column="member_phone"></result>
		<result property="memberPw" column="member_pw"></result>
		<association property="level" javaType="Level">
			<result property="levelCode" column="level_code" />
		</association>
	</resultMap>
	
	<select id="getMemberList" parameterType="String" resultMap="getMemberMap">
			SELECT * from tb_member
		<if test="mId != null and mId != ''.toString()">
			<where>
			member_id=#{mId}
			</where>
		</if>
	</select>
	
	<insert id="insertMember" parameterType="Member">
			INSERT INTO tb_member
	(member_id, member_pw, level_code, member_name, member_phone, member_addr1, member_addr2, member_addr3, member_addr4, member_email, member_in_date)
	VALUES (#{memberId}, #{memberPw}, 'level_code_03', #{memberName}, #{memberPhone}, #{memberAddr1}, #{memberAddr2}, #{memberAddr3}, #{memberAddr4}, #{memberEmail}, NOW())
	</insert>
	
	<!-- 프로시저 사용 삭제 -->
	<delete id="deleteMember" statementType="CALLABLE">
		
		CALL deletemember(#{memberId});
		
	</delete>
	
	<update id="updateMember" parameterType="Member">
		UPDATE tb_member
		SET
			member_pw=#{memberPw},
			member_name=#{memberName},
			member_phone=#{memberPhone},
			member_addr2=#{memberAddr2},
			member_email=#{memberEmail}
		WHERE member_id=#{memberId}
	</update>
	
	<select id="findId" parameterType = "Member" resultMap="getMemberMap">
		SELECT
			member_id
		FROM
			tb_member
		WHERE
			member_name = #{memberName}
			and member_phone = #{memberPhone}
			and member_email = #{memberEmail};
	</select>
	
	<select id="findPw" parameterType = "Member" resultMap="getMemberMap">
		SELECT
			member_pw
		FROM
			tb_member
		WHERE
			member_id = #{memberId}
			and member_phone = #{memberPhone}
			and member_email = #{memberEmail};
	</select>
	
</mapper>