<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.memory.mapper.NoteMapper">
	<resultMap type="Note" id="getNoteMap">
		<result property="note_code" column="note_code"></result>
		<result property="send_member" column="send_member"></result>
		<result property="recipient_member" column="recipient_member"></result>
		<result property="note_title" column="note_title"></result>
		<result property="note_content" column="note_content"></result>
		<result property="note_date" column="note_date"></result>
	</resultMap>
	
	<insert id="insertNote" parameterType="Note">
		<selectKey order="BEFORE" keyProperty="note_code" resultType="String">
			Select
			(	case count(*)
				when 0 then 'note_code_1'
				else CONCAT('note_code_',max(cast(SUBSTRING(note_code,11) as decimal))+1)
				END) 
				as note_code FROM tb_note
		</selectKey>
		INSERT INTO tb_note
		(note_code, send_member, recipient_member, note_title, note_content, note_date)
		VALUES (#{note_code}, #{send_member}, #{recipient_member}, #{note_title}, #{note_content}, NOW())
	</insert>

	<select id="selectNote" resultMap="getNoteMap">
		SELECT * FROM tb_note
		WHERE
			recipient_member=#{recipient_member}
		ORDER BY cast(SUBSTRING(note_code,11) as decimal) DESC
	</select>
	
	<select id="selectSendNote" resultMap="getNoteMap">
		SELECT * FROM tb_note
		WHERE
			send_member=#{send_member}
		ORDER BY cast(SUBSTRING(note_code,11) as decimal) DESC
	</select>
	
	<select id="getNote" resultMap="getNoteMap">
		SELECT * FROM tb_note WHERE note_code = #{note_code}
	</select>
</mapper>