<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.memory.mapper.PetItemMapper">
	<select id="selectPetFood" resultType="PetFood">
		SELECT 
			 pet_food_code		as foodCode
			,pet_food_company	as foodCompany
			,pet_food_type		as foodType
			,pet_food_price		as foodPrice
			,pet_food_amount	as foodAmount
			,pet_food_remain	as foodRemain
			,pet_food_name		as foodName
		FROM 
			tb_pet_food
	</select>
	
</mapper>