<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.memory.mapper.ProtectionMapper">

	<resultMap type="ProtectionSpace" id="psResultMap">
		<result property="protectSpaceCode" column="protect_space_code"/>
		<result property="animalInsertCode" column="animal_insert_code"/>
		<result property="useState" column="use_state"/>
		<result property="implementCode" column="implement_code"/>
		<result property="protectSpaceRegDate" column="protect_space_reg_date"/>
		<result property="animalProtectPeriod" column="animal_protect_period"/>
		<association property="animalProtect" javaType="AnimalProtect">
			<result property="animalProtectNum" column="animal_protect_num"/>
			<result property="animalInsertCode" column="animal_insert_code"/>
			<result property="protectSpaceCode" column="protect_space_code"/>
			<result property="state" column="protect_state"/>
			<result property="animalProtectRegDate" column="animal_protect_reg_date"/>
			<result property="animalProtectExeDate" column="animal_protect_exe_date"/>
		</association>
	</resultMap>
	
	<insert id="insertAniamlProtection" parameterType="AnimalProtect">
		<selectKey resultType="String" keyProperty="animalProtectNum" order="BEFORE">
			SELECT 
				CONCAT('animal_protect_', MAX(CAST(SUBSTR(p.animal_protect_num,16) AS DECIMAL))+1) AS animalProtectNum
			FROM
				tb_animal_protect AS p
		</selectKey>
		INSERT INTO tb_animal_protect(
		 	 animal_protect_num
			,animal_insert_code
			,protect_space_code
			,protect_state
			,animal_protect_reg_date
			,animal_protect_exe_date
		)VALUES (
			 #{animalProtectNum}
			,#{animalInsertCode}
			,#{protectSpaceCode}
			,#{state}
			,CURDATE()
			,#{animalProtectExeDate}
		)
	</insert>

	<update id="updateAnimalProtectionExit" parameterType="String">
		UPDATE
			tb_protect_space AS s
		SET
			 s.animal_insert_code	=null
			,s.use_state			='없음'
		WHERE 
			s.protect_space_code=#{proSpaceCode};
	</update>

	<update id="updateAnimalProtectionIn" parameterType="AnimalProtect">
		UPDATE 
			 tb_animal_protect AS p
			,tb_protect_space s
		SET 
			 p.protect_space_code=		#{protectSpaceCode}
			,p.protect_state=			#{state}
			,p.animal_protect_exe_date=	#{animalProtectExeDate}
			,s.animal_insert_code=		#{animalInsertCode}
			,s.use_state=				'사용중'
		WHERE
			s.protect_space_code=#{protectSpaceCode}
			AND
			p.animal_insert_code=#{animalInsertCode}; 
	</update>

	<!-- 
	<update id="updateAnimalProtectionIn" parameterType="map">
		UPDATE 
			 tb_animal_protect AS p
			,tb_protect_space s
		SET 
			 p.protect_space_code='protect_space_2'
			,p.protect_state='보호중'
			,p.animal_protect_exe_date='2020-09-13'
			,s.animal_insert_code='animal_insert_1'
			,s.use_state='사용중'
		WHERE
			s.protect_space_code='protect_space_2'; 
	</update>
	 -->
	 
	<select id="selectProtectionSpaceByAniInCode" parameterType="String" resultMap="psResultMap">
		SELECT 
			 s.protect_space_code
			,s.animal_insert_code
			,s.use_state
			,s.implement_code
			,s.protect_space_reg_date
			,s.animal_protect_period
		FROM 
			tb_protect_space AS s
		WHERE
			s.animal_insert_code=#{aniInsertCode};
	</select>
	 
	<select id="selectProtectionSpaceByCode" parameterType="String" resultMap="psResultMap">
		SELECT 
			 s.protect_space_code
			,s.animal_insert_code
			,s.use_state
			,s.implement_code
			,s.protect_space_reg_date
			,s.animal_protect_period
		FROM 
			tb_protect_space AS s
		WHERE
			s.protect_space_code=#{proSpaceCode};
	</select>
	
	<select id="selectAnimalProtect" parameterType="String" resultType="AnimalProtect">
		SELECT 
			 p.animal_protect_num		as animalProtectNum
			,p.animal_insert_code		as animalInsertCode
			,p.protect_space_code		as protectSpaceCode	
			,p.protect_state			as state
			,p.animal_protect_reg_date	as animalProtectRegDate
			,p.animal_protect_exe_date	as animalProtectExeDate
		FROM
			tb_animal_protect AS p
		WHERE
			p.animal_insert_code=#{animalNum};
	</select>
	
	<select id="selectProtectionSpace" resultMap="psResultMap">
		SELECT 
			 s.protect_space_code
			,s.animal_insert_code
			,s.use_state
			,s.implement_code
			,s.protect_space_reg_date
			,s.animal_protect_period
			,p.animal_protect_num	
			,p.animal_insert_code
			,p.protect_space_code
			,p.protect_state
			,p.animal_protect_reg_date
			,p.animal_protect_exe_date
		FROM
			tb_protect_space AS s
			LEFT JOIN 
			tb_animal_protect AS p
			ON 
			p.animal_insert_code = s.animal_insert_code
		ORDER BY CAST(SUBSTR(s.protect_space_code,15) as decimal) DESC;
	</select>
	
	<select id="selectMemberId" resultType="Member">
		SELECT 
			 member_id		as memberId
			,member_pw		as memberPw
			,level_code		as level
			,member_name	as memberName
			,member_phone	as memberPhone
			,member_addr	as memberAddr
			,member_email	as memberEmail
			,member_in_date	as memberInDate
		FROM
			tb_member
	</select>
	
</mapper>