<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
	
<th:block layout:fragment="customTitle">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="container-fluid">
			<div class="block-header">
                <h2>
                    	반려동물보호
                </h2>
            </div>
			<div class="card">
				<div class="header">장소</div>
				
				<div class="body">
					<div class="row clearfix">
						<div class="col-xs-3 col-md-3">
	                    	<a th:href="@{/animalProtection}">
		                        <button class="btn btn-default btn-lg btn-block waves-effect" type="button">
		                        	전체보기
		                        	<span class="badge">
		                        		[[${allCount}]]
		                        	</span>
		                        </button>
	                    	</a>
						</div>
						<div class="col-xs-3 col-md-3">
	                    	<a th:href="@{/animalProtection(sendSearch='useing')}">
		                        <button class="btn btn-default btn-lg btn-block waves-effect" type="button">
		                        	사용중
		                        	<span class="badge">
		                        		[[${useCount}]]
		                        	</span>
		                        </button>
	                    	</a>
						</div>
						<div class="col-xs-3 col-md-3">
	                    	<a th:href="@{/animalProtection(sendSearch='useNot')}">
		                        <button class="btn btn-default btn-lg btn-block waves-effect" type="button">
		                        	빈공간
		                        	<span class="badge">
		                        		[[${useNotCount}]]
		                        	</span>
		                        </button>
	                    	</a>
						</div>
						<div class="col-xs-3 col-md-3">
	                    	<a th:href="@{/addAnimalProtection}">
		                        <button class="btn btn-default btn-lg btn-block waves-effect" type="button">
		                        	배치안된 펫
		                        	<span class="badge">
		                        		[[${haveNotCount}]]
		                        	</span>
		                        </button>
	                    	</a>
						</div>
						
						<div th:each="ps : ${protectSpaceList}" class="col-xs-3 col-md-3">
							<div class="info-box hover-zoom-effect">
								<th:block th:if="${ps.useState}=='사용중'">
									<div th:if="${ps.animalProtect.state}=='보호중'" class="icon bg-cyan">
										<a th:href="@{/modifyAnimalProtection(space=${ps.protectSpaceCode})}">
											<i class="material-icons">pets</i>
										</a>
									</div>
			                       	<div th:unless="${ps.animalProtect.state}=='보호중'" class="icon bg-red">
										<a th:href="@{/modifyAnimalProtection(space=${ps.protectSpaceCode})}">
											<i class="material-icons">pets</i>
			                            </a>
									</div>
									<div class="content">
			                            <div class="text">
			                            	[[${ps.protectSpaceCode}]] 
			                            </div>
			                            <div class="number">[[${ps.animalCenter.animalCenterNumber}]]([[${ps.animalProtect.state}]])</div>
			                        </div> 
								</th:block>
								<th:block th:unless="${ps.useState}=='사용중'">
									<div class="icon bg-green">
			                            <a th:href="@{/modifyAnimalProtection(space=${ps.protectSpaceCode})}">
			                            	<i class="material-icons">error</i>
			                            </a>
									</div>
									<div class="content">
			                            <div class="text">[[${ps.protectSpaceCode}]]</div>
			                            <div class="number">[[${ps.animalProtect.state}]]</div>
									</div> 
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block> 

<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customFooterScript">
</th:block>
 
</html>