<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
	
<th:block layout:fragment="customTitle">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="container-fluid">
			<div class="block-header">
                <h2>
                    	반려동물보호장소
                </h2>
            </div>
			<div class="row">
				<div th:each="ps : ${protectSpaceList}" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box hover-zoom-effect">
                        <div th:if="${ps.useState}=='사용중'" class="icon bg-cyan">
                            <a th:href="@{/modifyAnimalProtection(space=${ps.protectSpaceCode})}">
                            	<i class="material-icons">pets</i>
                            </a>
                        </div>
                        <div th:unless="${ps.useState}=='사용중'" class="icon bg-light-green">
                            <a th:href="@{/modifyAnimalProtection(space=${ps.protectSpaceCode})}">
                            	<i class="material-icons">error</i>
                            </a>
                        </div>
                        
                        <div class="content">
                            <div class="text">[[${ps.protectSpaceCode}]]</div>
                            <div class="number">[[${ps.animalProtect.state}]]</div>
                        </div> 
                       
                    </div>
                </div>
                
			</div>
		</div>
	</section>
</th:block> 

<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customFooterScript">
</th:block>
 
</html>