<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
	
<th:block layout:fragment="customTitle">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="container-fluid">
			<div class="card">
				<div class="header"><h2>반려동물보호</h2></div>
				
				<div class="body">
					<div class="row">
						<div class="col-xs-6 col-md-3">
	                    	<a th:href="@{/protection/animalProtection}">
		                        <button class="btn btn-default btn-lg btn-block waves-effect" type="button">
		                        	전체보기
		                        	<span class="badge">
		                        		[[${allCount}]]
		                        	</span>
		                        </button>
	                    	</a>
						</div>
						<div class="col-xs-6 col-md-3">
	                    	<a th:href="@{/protection/animalProtection(sendSearch='useing')}">
		                        <button class="btn btn-default btn-lg btn-block waves-effect" type="button">
		                        	사용중
		                        	<span class="badge">
		                        		[[${useCount}]]
		                        	</span>
		                        </button>
	                    	</a>
						</div>
						<div class="col-xs-6 col-md-3">
	                    	<a th:href="@{/protection/animalProtection(sendSearch='useNot')}">
		                        <button class="btn btn-default btn-lg btn-block waves-effect" type="button">
		                        	빈공간
		                        	<span class="badge">
		                        		[[${useNotCount}]]
		                        	</span>
		                        </button>
	                    	</a>
						</div>
						<div class="col-xs-6 col-md-3">
	                    	<a th:href="@{/protection/addAnimalProtection}">
		                        <button class="btn btn-default btn-lg btn-block waves-effect" type="button">
		                        	배치안된 펫
		                        	<span class="badge">
		                        		[[${haveNotCount}]]
		                        	</span>
		                        </button>
	                    	</a>
						</div>
						<div th:each="ps : ${protectSpaceList}" class="col-xs-6 col-md-3">
							<div class="info-box hover-zoom-effect">
								<th:block th:if="${ps.useState}=='사용중'">
									<div th:if="${ps.animalProtect.state}=='보호중'" class="icon bg-cyan">
										<a th:href="@{/protection/modifyAnimalProtection(space=${ps.protectSpaceCode})}">
											<i class="material-icons"><img th:src="@{'/files/' + ${ps.animalCenter.animalPicture}}" style="all: initial; width: 80px; height: 80px;"></i>
										</a>
									</div>
			                       	<div th:unless="${ps.animalProtect.state}=='보호중'" class="icon bg-red">
										<a th:href="@{/protection/modifyAnimalProtection(space=${ps.protectSpaceCode})}">
											<i class="material-icons"><img th:src="@{'/files/' + ${ps.animalCenter.animalPicture}}" style="all: initial; width: 80px; height: 80px;"></i>
			                            </a>
									</div>
									<div class="content">
										<ul style="position: absolute; top: 15px; right: 15px; list-style: none;">
			                                <li class="dropdown">
			                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			                                        <i class="material-icons">more_vert</i>
			                                    </a>
			                                    <ul class="dropdown-menu pull-right">
			                                        <!-- <li><a th:href="@{/protection/exitAnimalProtection(protectSpaceCode=${ps.protectSpaceCode},aniProtectionNum=${ps.animalProtect.animalProtectNum})}">비우기</a></li> -->
			                                        <li><a class="clean" th:data-myurl="'/protection/exitAnimalProtection?protectSpaceCode=' + ${ps.protectSpaceCode} + '&aniProtectionNum=' + ${ps.animalProtect.animalProtectNum}" href="javascript:void(0)">비우기</a></li>
			                                    </ul>
			                                </li>
			                            </ul>
			                            <div class="text" th:text="${'장소 '+ #strings.substring(ps.protectSpaceCode, 14)}"></div>
			                            <div style="font-size: large;">[[${ps.animalCenter.animalCenterNumber}]]([[${ps.animalProtect.state}]])</div>
			                        </div> 
								</th:block>
								<th:block th:unless="${ps.useState}=='사용중'">
									<div class="icon bg-green">
			                            <a th:href="@{/protection/modifyAnimalProtection(space=${ps.protectSpaceCode})}">
			                            	<i class="material-icons">pets</i>
			                            </a>
									</div>
									<div class="content">
										<ul style="position: absolute; top: 15px; right: 15px; list-style: none;">
			                                <li class="dropdown">
			                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			                                        <i class="material-icons">more_vert</i>
			                                    </a>
			                                    <ul class="dropdown-menu pull-right">
			                                        <li><a class="delete" th:data-myurl="'/protection/delProtectionSpace?protectSpaceCode=' + ${ps.protectSpaceCode}" href="javascript:void(0)">삭제</a></li>
			                                    </ul>
			                                </li>
			                            </ul>
				                        <div class="text" th:text="${'장소 '+ #strings.substring(ps.protectSpaceCode, 14)}"></div>
									</div> 
								</th:block>
							</div>
						</div>
						<div class="col-xs-6 col-md-3">
							<div class="info-box hover-zoom-effect">
								<div class="icon bg-blue-grey">
									<a th:href="@{/protection/addProtectionSpace}">
										<i class="material-icons">add</i>
									</a>
								</div>
								<div class="content">
									<div class="text">추가하기</div>
		                        </div> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
</th:block> 

<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customFooterScript">
	<script>
		$(function(){
			$('.clean').click(function(){
    			swal('비우시겠습니까?', {
					title:'경고',
					icon:'error',
					buttons: true,
				})
    			.then((foodDelete) => {
    				var val = $(this).data('myurl');
    				console.log(val);
    				if(foodDelete){
    					swal("정말로 비우시겠습니까?", {
    							title: '확인',
    					      	icon: "warning",
    					      	buttons: true,
    					    })
    					    .then((value) => {
    					    	if(value) location.href = val;
    					    });
    				}else{
    					console.log('취소');
    				}
    			});
    		});
			
			$('.delete').click(function(){
    			swal('삭제하시겠습니까?', {
					title:'경고',
					icon:'error',
					buttons: true,
				})
    			.then((foodDelete) => {
    				var val = $(this).data('myurl');
    				console.log(val);
    				if(foodDelete){
    					swal("정말로 삭제하시겠습니까?", {
    							title: '확인',
    					      	icon: "warning",
    					      	buttons: true,
    					    })
    					    .then((value) => {
    					    	if(value) location.href = val;
    					    });
    				}else{
    					console.log('취소');
    				}
    			});
    		});
		});
	</script>
</th:block>
 
</html>