<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
<th:block layout:fragment="customCss">
    <!-- Bootstrap Select Css -->
    <link href="../../plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
</th:block>
<th:block layout:fragment="customTitle">
	<title>직원 수정</title>
</th:block> 
<th:block layout:fragment="customHeadScript">
</th:block> 
<th:block layout:fragment="customContents">
	<section class="content">
		<div class="col-lg-12">
			<div class="card">
				<form action="/staff/staffupdate" method="post">
					<div class="header">
						<h2>센터 직원 수정</h2>
					</div>
		           	<div class="body">
		           		<div class="row">
		           			<div class="col-md-4">
			           			<b>직원 아이디</b>
			           			<div class="input-group">
					           		<div class="form-line">
					           			<input type="hidden" name="staffCode" th:value="${sInfo.staffCode}">
						           		<input type="text" class="form-control" name="memberId" th:value="${sInfo.member.memberId}" readonly="readonly">
					           		</div>
				           		</div>
		           			</div>
		           			<div class="col-md-4">
				           		<b>직원 이름</b>
								<div class="input-group">
					           		<div class="form-line">
						           		<input type="text" name="staffName" class="form-control" th:value="${sInfo.staffName}">
					           		</div>
				           		</div>
		           			</div>
		           			<div class="col-md-4">
		           				<b>직원 등록 일자</b>
		           				<div class="input-group">
		           					<div class="form-line">
						           		<input type="text" class="form-control" readonly="readonly" name="staffInDate" th:value="${sInfo.staffInDate}">
					           		</div>
		           				</div>
		           			</div>
		           		</div>
		           	</div>
		           	<div class="body">
		           		<div class="row">
		           			<div class="col-md-4">
				           		<b>부서</b>
				           		<div class="input-group">
					           		<select class="form-control" name="staffPart">
					           			<option>----부서 선택----</option>
					           			<option th:selected="${sInfo.staffPart == '동물산업'}" value="동물산업">동물산업</option>
					           			<option th:selected="${sInfo.staffPart == '동물복지'}" value="동물복지">동물복지</option>
					           			<option th:selected="${sInfo.staffPart == '동물구조'}" value="동물구조">동물구조</option>
					           		</select>
				           		</div>
		           			</div>
		           			<div class="col-md-4">
			           			<b>직원 직급</b>
				           		<div class="input-group">
					           		<select class="form-control" name="staffRank">
					           			<option>----직급 선택----</option>
					           			<option th:selected="${sInfo.staffRank == '실장'}" value="실장">실장</option>
					           			<option th:selected="${sInfo.staffRank == '부장'}" value="부장">부장</option>
					           			<option th:selected="${sInfo.staffRank == '대리'}" value="대리">대리</option>
					           			<option th:selected="${sInfo.staffRank == '사원'}" value="사원">사원</option>
					           		</select>
				           		</div>
		           			</div>
		           		</div>
		           	</div>
		           	<div class="body">
		           		<button type="submit" class="btn bg-amber btn-block btn-lg waves-effect">센터 직원 수정</button>
		           	</div>
				</form>
	        </div>
		</div>
	</section>
</th:block> 
<th:block layout:fragment="customFooterScript">
	<script>
		$(function(){
			$("form").validate({
				 rules : {
					//네임
					 memberId 		: {required : true}
					,staffName 		: {required : true}
					,staffInDate 	: {required : true}
					,staffPart 		: {required : true}
					,staffRank 	: {required : true}
				}
				,messages : {
					memberId 		: '직원 아이디를 등록하세요'
					,staffName 		: '직원 이름을 입력해주세요'
					,staffInDate 	: '직원 등록일을 입력해주세요'
					,staffPart 		: {required : '직원 부서를 선택하세요'}
					,staffRank 		: {required : '직원 직급을 선택해주세요'}
				}
				,errorPlacement : function(error, element){
					element.parent().after(error);
				}
			});
		});
	</script>
</th:block>
</html>