<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
<th:block layout:fragment="customCss">
	<!-- JQuery DataTable Css -->
    <link href="/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
</th:block>
<th:block layout:fragment="customTitle">
	<title>직원 리스트</title>
</th:block> 
<th:block layout:fragment="customHeadScript">
</th:block> 
<th:block layout:fragment="customContents">
	<section class="content">
		<div class="col-lg-12">
			<div class="card">
				<div class="header">
	                <h2>직원 리스트</h2>
	                <ul class="header-dropdown m-r--5">
	                    <li class="dropdown">
	                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	                            <i class="material-icons">more_vert</i>
	                        </a>
	                        <ul class="dropdown-menu pull-right">
	                            <li><a href="/staff/staffinsert" class=" waves-effect waves-block">센터 직원 등록</a></li>
	                            <li><a href="/staff/staffcommutelist" class=" waves-effect waves-block">근태 내역</a></li>
	                            <li><a href="/staff/staffvacationlist" class=" waves-effect waves-block">휴가,외출 신청 내역</a></li>
	                        </ul>
	                    </li>
	                </ul>
				</div>
				<div class="body">
					<div class="table-responsive" style="overflow: hidden;">
	                    <table id="dataTabelEaxm1" class="table table-bordered table-striped table-hover">
	                        <thead>
	                            <tr>
		                            <th></th>
		                            <th><div class="align-center">부서</div></th>
		                            <th><div class="align-center">직급</div></th>
		                            <th><div class="align-center">이름</div></th>
		                            <th><div class="align-center">아이디</div></th>
		                            <th><div class="align-center">연락처</div></th>
		                            <th><div class="align-center">이메일</div></th>
		                            <th><div class="align-center">근태 상태</div></th>
		                            <th><div class="align-center">입사 날짜</div></th>
		                            <th><div class="align-center">퇴사 날짜</div></th>
		                            <th data-orderable="false"><div class="align-center">직원 수정</div></th>
		                            <th data-orderable="false"><div class="align-center">직원삭제</div></th>
		                        </tr>
	                        </thead>
	                        <tbody>
	                            <tr th:each="staff,i : ${staff}" class="odd">
				                    <td><div class="align-center">[[${i.size - i.index}]]</div></td>
		                            <td><div class="align-center">[[${staff.staffPart}]]</div></td>
		                            <td><div class="align-center">[[${staff.staffRank}]]</div></td>
		                            <td><div class="align-center">[[${staff.staffName}]]</div></td>
		                            <td><div class="align-center">[[${staff.member.memberId}]]</div></td>
		                            <td><div class="align-center">[[${staff.member.memberPhone}]]</div></td>
		                            <td><div class="align-center">[[${staff.member.memberEmail}]]</div></td>
		                            <td>
			                            <th:block th:unless="${staff.commute == null}">
			                            	<div th:if="${staff.commute.commuteEndTime} == null" class="align-center">출근 - [[${staff.commute.commuteStartTime}]]</div>
			                            	<div th:unless="${staff.commute.commuteEndTime} == null" class="align-center">퇴근 - [[${staff.commute.commuteEndTime}]]</div>
			                            </th:block>
			                            <th:block th:if="${staff.commute == null}">
			                            	<div class="align-center">미출근</div>
			                            </th:block>
		                            </td>
		                            <td><div class="align-center">[[${staff.staffInDate}]]</div></td>
		                            <td>
		                            	<th:block th:unless="${staff.staffOutDate} == null">
			                            	<div class="align-center">퇴사 - [[${staff.staffOutDate}]]</div>
		                            	</th:block>
		                            	<th:block th:if="${staff.staffOutDate} == null">
		                            		<div class="align-center"><a href="#">퇴사처리</a></div>
		                            	</th:block>
		                            </td>
		                            <td>
		                            	<div class="align-center">
			                            	<a th:href="@{/staff/staffupdate(send_id=${staff.member.memberId})}" style="color: #9E9E9E">
		                       					<i class="material-icons">update</i>
	                       					</a>
                       					</div>
	                      			</td>
	                      			
	                      			<td>
	                      				<div class="align-center">
			                            	<a class="delete" th:data-myurl="'/staff/staffdelete?send_code='+${staff.staffCode}" href="javascript:void(0)">
						            			<i class="material-icons">delete</i>
						            		</a>
				                       	</div>
			                       	</td>
	                        	</tr>
	                        </tbody>
	                    </table>
	                </div>
				</div>
			</div>
		</div>
	</section>
</th:block> 
<th:block layout:fragment="customFooterScript">
	<!-- Jquery DataTable Plugin Js -->
    <script src="/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
    <script>
    	$(function(){
    		$('#dataTabelEaxm1').dataTable({
    			"aaSorting": []
    		});
    		$('.delete').click(function(){
    			swal('삭제하시겠습니까?', {
					title:'경고',
					icon:'error',
					buttons: true,
				})
    			.then((Delete) => {
    				var val = $(this).data('myurl');
    				console.log(val);
    				if(Delete){
    					swal({
    							title: '확인',
    					      	icon: "warning",
    					      	text:"정말로 삭제하시겠습니까?",
    					      	buttons: true,
    					    })
    					    .then((value) => {
    					    	if(value) location.href = val;
    					    });
    				}else{
    					console.log('취소');
    				}
    			});
    		});
    	});
    </script>
</th:block>
</html>