<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
<th:block layout:fragment="customCss">
	<!-- Bootstrap Select Css -->
    <link href="/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
</th:block>

<th:block layout:fragment="customTitle">
	<title>동물 진료 기록 등록</title>
</th:block> 
<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="col-lg-12">
			<div class="card">
				<div class="header">
					<h2>동물 진료 기록 등록</h2>
				</div>
				<form action="/animalhealth/animalhealthinsert" method="post">
				<div class="body">
					<div class="clearfix">
							<div class="row">
				      			<div class="col-md-3">
				      				<b>동물번호</b>
				      				<div class="input-group">
						           		<select class="form-control" name="animalInsertCode">
						           			<option value="">------ 동물 번호 선택 ------</option>
						           			<th:block th:if="${send_code} == null">
						           				<option th:each="AList : ${AList}" th:value="${AList.animalInsertCode}">[[${AList.animalCenterNumber}]]</option>
						           			</th:block>
						           			<th:block th:if="${send_code} != null">
						           				<option th:each="AList : ${AList}" th:value="${AList.animalInsertCode}" th:selected="(${AList.animalInsertCode == send_code})">[[${AList.animalCenterNumber}]]</option>
						           			</th:block>
						           		</select>
					           		</div>
				      			</div>
				      			<div class="col-md-3 col-md-offset-1">
				      				<b>담당자</b>
					                <div class="input-group">
					                    <div class="form-line">
					                    	<!-- 세션 등록 -->
					                        <input type="hidden" name="staffCode" class="form-control" th:value="${session.STAFF.staffCode}">
					                        <input type="text" name="staffName" class="form-control" th:value="${session.STAFF.staffName}" readonly="readonly">
					                    </div>
					       			</div>
				      			</div>
				      			<div class="col-md-3 col-md-offset-1">
				      				<b>등록 일자</b>
					                <div class="input-group">
					                    <div class="form-line">
					                        <input type="text" name="animalHealthRegDate" class="form-control" readonly="readonly">
					                    </div>
					       			</div>
				      			</div>
							</div>
			                <b>동물 상태</b>
			                 <div class="input-group">
			                    <div class="form-line">
				           			<textarea class="form-control" rows="3" name="animalHealthContents" placeholder="동물 상태를 입력해주세요."></textarea>
			                    </div>
			                 </div>
			  	    	</div>
				</div>
	            <div class="body">
	            	<button type="submit" class="btn bg-amber btn-block btn-lg waves-effect">동물 상태 등록</button>
	            </div>
	      		</form>
			</div>
		</div>
	</section>
</th:block> 

<th:block layout:fragment="customFooterScript">
	<script>
		$(function(){
			//현재 날짜 표시해 넣기
			$('input[name=animalHealthRegDate]').val(new Date().toISOString().substring(0, 10));
			
			//유효성검사
			$("form").validate({
				 rules : {
					//네임
					 animalInsertCode 		: {required : true}
					,animalHealthEndDate 	: {required : true}
					,animalHealthContents 	: {required : true}
				}
				,messages : {
					animalInsertCode 		: {required : '동물 코드를 선택하세요.'}
					,animalHealthEndDate 	: {required : '등록 일자를 입력해주세요.'}
					,animalHealthContents 	: {required : '동물 상태를 입력해주세요.'}
				}
				,errorPlacement : function(error, element){
					element.parent().after(error);
				}
			});
			
		});
	</script>
</th:block>
 
</html>