<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
<th:block layout:fragment="customCss">
	<!-- Bootstrap Select Css -->
    <link href="/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
</th:block>

<th:block layout:fragment="customTitle">
	<title>동물 치료 등록</title>
</th:block> 
<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="col-lg-12">
			<div class="card">
				<div class="header">
					<h2 th:if="${hinfo.animalHealthResult} == null">동물 치료 등록</h2>
					<h2 th:unless="${hinfo.animalHealthResult} == null">동물 치료 수정</h2>
				</div>
				<form action="/animalhealth/animalhealthupdate" method="post">
				<div class="body">
					<div class="clearfix">
							<div class="row">
				      			<div class="col-md-3">
				      				<b>동물번호</b>
				      				<div class="input-group">
				                    	<input type="hidden" name="animalHealthCode" th:value="${hinfo.animalHealthCode}">
						           		<select class="form-control" name="animalInsertCode">
						           			<option value="">------ 동물 번호 선택 ------</option>
					           				<option th:each="AList : ${AList}" th:value="${AList.animalInsertCode}" th:selected="(${AList.animalInsertCode == hinfo.animalCenter.animalInsertCode})">[[${AList.animalCenterNumber}]]</option>
						           		</select>
					           		</div>
				      			</div>
				      			<div class="col-md-3 col-md-offset-1">
				      				<b>담당자</b>
					                <div class="input-group colorpicker colorpicker-element">
					                    <div class="form-line">
					                        <input type="hidden" name="staffCode" class="form-control" th:value="${hinfo.staff.staffCode}">
					                        <input type="text" name="staffName" class="form-control" th:value="${hinfo.staff.staffName}" readonly="readonly">
					                    </div>
					       			</div>
				      			</div>
				      			<div class="col-md-3 col-md-offset-1">
				      				<b>치료 일자</b>
					                <div class="input-group colorpicker colorpicker-element">
					                    <div class="form-line">
					                        <input type="text" name="animalHealthEndDate" class="form-control"  readonly="readonly">
					                    </div>
					       			</div>
				      			</div>
							</div>
			                <b>치료 내용</b>
		           			<textarea class="form-control" rows="3" name="animalHealthResult" placeholder="치료 내용을 입력하세요."></textarea>
			  	    	</div>
				</div>
	            <div class="body">
	            	<button th:if="${hinfo.animalHealthResult} == null" type="submit" class="btn bg-amber btn-block btn-lg waves-effect">동물 치료 등록</button>
	            	<button th:unless="${hinfo.animalHealthResult} == null" type="submit" class="btn bg-amber btn-block btn-lg waves-effect">동물 치료 수정</button>
	            </div>
	      		</form>
			</div>
		</div>
	</section>
</th:block> 

<th:block layout:fragment="customFooterScript">
	<script>
		$(function(){
			//현재 날짜 넣기
			$('input[name=animalHealthEndDate]').val(new Date().toISOString().substring(0, 10));
			
			//유효성검사
			$("form").validate({
				 rules : {
					//네임
					 animalInsertCode 		: {required : true}
					,animalHealthEndDate 	: {required : true}
					,animalHealthResult 	: {required : true}
				}
				,messages : {
					animalInsertCode 		: {required : '치료할 동물 코드를 선택하세요'}
					,animalHealthEndDate 	: {required : '치료 날짜를 입력해주세요'}
					,animalHealthResult 	: {required : '치료 내용을 입력해주세요'}
				}
				,errorPlacement : function(error, element){
					element.parent().after(error);
				}
			});
			
		});
	</script>
</th:block>
 
</html>