<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
	
<th:block layout:fragment="customTitle">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="container-fluid">
			<div class="block-header">
                <h2>
                    	펫사료리스트
                </h2>
            </div>
			
			<div class="card">
				<div class="body">
					<div class="table-responsive">
						<table class="table table-bordered" style="text-align: center;">
						    <thead>
						        <tr>
						            <th>사료종류</th>
						            <th>사료단가</th>
						            <th>수량</th>
						            <th>재고량</th>
						            <th>사료이름</th>
						            <th>사료회사</th>
						            <th>구매인</th>
						            <th>수정</th>
						            <th>삭제</th>
						        </tr>
						    </thead>
						    <tbody>
						        <tr th:each="pf : ${petFoodList}">
						            <td>[[${pf.foodType}]]</td>
						            <td>[[${pf.foodPrice}]]</td>
						            <td th:text="${pf.foodAmount}"></td>
						            <td th:text="${pf.foodRemain}"></td>
						            <td th:text="${pf.foodName}"></td>
						            <td>[[${pf.foodCompany}]]</td>
						            <td>홍01</td>
						            <td>
						            	<a th:href="@{petFoodUpdate(type=0)}">수정</a>
						            </td>
						            <td>
						            	<a href="#">삭제</a>
						            </td>
						        </tr>
						    </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block> 

<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customCss">
</th:block>

<th:block layout:fragment="customFooterScript">
</th:block>
 
</html>