<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
	
 <th:block layout:fragment="customTitle">
 	
 </th:block> 
<th:block layout:fragment="customCss">
 	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
</th:block>
<th:block layout:fragment="customHeadScript">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

	<!-- (Optional) Latest compiled and minified JavaScript translation files -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>

	<script type="text/javascript" src="../../plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript">
	  	$(document).ready(function(){
	  		
	  	
			
		}); 
	</script>
</th:block> 
 <th:block layout:fragment="customContents">
 	<!-- 입양신청폼 -->
 <!-- Basic Validation -->
     <section class="content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>입양신청폼</h2>
                        </div>
                        <div class="body">
                            <form id="form_validation" action="/adoptionApply" method="POST">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="memberId" readonly="readonly" value="2teamSeesionId">
                                        
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <input type="hidden" class="form-control" name="memberId" placeholder="입양점수">
                        		</div>
                            
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    
                             <div class="body"> 
                              <div class="row clearfix">
                                <div class="col-md-3">
                                    <p>
                                        <b>동물종류</b>
                                    </p>
                                    <select id="animalType" class="form-control show-tick" >
                                        <option value="">-축종선택-</option>
                                        <option value="강아지">강아지</option>
                                        <option value="고양이">고양이</option>
                                        <option value="기타">기타</option>
                                    </select>

                                </div>
                                <div id="dogType" class="col-md-3"  style="display:block;">
                                    <p>
                                        <b>품종</b>
                                    </p>
                                    <select id="dogSelectType" class="form-control show-tick" >
                                        <option value="">-품종선택-</option>
                                        <option value="말티즈">말티즈</option>
                                        <option value="포메라니안">포메라니안</option>
                                        <option value="비글">비글</option>
                                        <option value="기타">기타</option>
                                    </select>

                                </div>
                                <div id="catSelectType" class="col-md-3" style="display:block;">
                                    <p>
                                        <b>품종</b>
                                    </p>
                                    <select id="catType" class="form-control show-tick">
                                        <option value="">-품종선택-</option>
                                        <option value="페르시안">페르시안</option>
                                        <option value="벵골">벵골</option>
                                        <option value="사암고양이">사암고양이</option>
                                        <option value="기타">기타</option>
                                    </select>

                                </div>
                               </div>  
                              <div class="form-group">
                                  <div class="font-bold col-teal">성별</div>
                                    <input type="radio" name="gender" id="male" class="with-gap">
                                    <label for="male">수컷</label>

                                    <input type="radio" name="gender" id="female" class="with-gap">
                                    <label for="female" class="m-l-20">암컷</label>
                                    
                                    <input type="radio" name="gender" id="middle" class="with-gap">
                                    <label for="middle" class="m-l-20">무관</label>
                                </div>
                              
                             </div> 
       					  </div> 
       					  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    
                              <div class="row clearfix">
                                <div class="col-md-5">
                                    <p>
                                        <b>입양 희망 지역</b>
                                    </p>
                                    <select id="animalType" class="form-control show-tick" >
                                        <option value="">-지역선택-</option>
                                        <option value="전국분양">전국분양</option>
                                        <option value="서울시">서울시</option>
                                        <option value="인천시">인천시</option>
                                        <option value="대전시">대전시</option>
                                        <option value="광주시">광주시</option>
                                        <option value="대구시">대구시</option>
                                        <option value="울산시">울산시</option>
                                        <option value="부산시">부산시</option>
                                        <option value="경기도">경기도</option>
                                        <option value="강원도">강원도</option>
                                        <option value="세종시">세종시</option>
                                        <option value="충청남도">충청남도</option>
                                        <option value="충청북도">충청북도</option>
                                        <option value="전라남도">전라남도</option>
                                        <option value="전라북도">전라북도</option>
                                        <option value="경상남도">경상남도</option>
                                        <option value="경상북도">경상북도</option>
                                        <option value="제주도">제주도</option>
                                    </select>

                                </div>
                               </div> 
                               <div class="row clearfix">
                                <div class="col-md-5">
                                    <p>
                                        <b>입양 희망 연령</b>
                                    </p>
                                    <select id="animalAge" class="form-control show-tick" >
                                        <option value="">-나이선택-</option>
                                        <option value="1">1세이하</option>
                                        <option value="2">2세이하</option>
                                        <option value="3">3세이하</option>
                                        <option value="4">4세이하</option>
                                       
                                    </select>

                                </div>
                               
                               </div> 
                           
       					  </div>
       					  
                                <button class="btn btn-primary waves-effect" type="submit">입양신청</button>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
         </div>
       </section>     
            <!-- #END# Basic Validation -->
 </th:block> 


<th:block layout:fragmnet="customFooterScript">
</th:block>
 
</html>