<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
	
<th:block layout:fragment="customTitle">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="container-fluid">
			<div class="card">
				<div class="header">
					<h2>
						시설리스트
					</h2>
				</div>
				<div class="body">
					<div class="table-responsive" style="overflow: hidden;">
						<table id="dataTable" class="table table-bordered table-striped table-hover" style="text-align: center;">
						    <thead>
						        <tr>
						            <th><div class="align-center">시설종류</div></th>
						            <th><div class="align-center">총수량</div></th>
						            <th><div class="align-center">입고수량</div></th>
						            <th><div class="align-center">재고</div></th>
						            <th><div class="align-center">파손량</div></th>
						            <th><div class="align-center">단가</div></th>
						            <th><div class="align-center">구매인</div></th>
						            <th data-orderable="false"><div class="align-center">수정</div></th>
						            <th data-orderable="false"><div class="align-center">삭제</div></th>
						        </tr>
						    </thead>
						    <tbody>
						        <tr th:each="im : ${impleList}">
						            <td><div class="align-center">[[${im.implementType}]]</div></td>
						            <td><div class="align-center">[[${im.implementAmount}]]</div></td>
						            <td><div class="align-center">[[${im.implementReceiptCount}]]</div></td>
						            <td><div class="align-center">[[${im.implementRemain}]]</div></td>
						            <td><div class="align-center">[[${im.implementBreakageAmount}]]</div></td>
						            <td><div class="align-center">[[${im.implementPrice}]]</div></td>
						            <td><div class="align-center">새리</div></td>
						            <td>
						            	<div class="align-center">
							            	<a th:href="@{/implement/implementUpdate(sendCode=${im.implementCode})}" style="color: #9E9E9E">
							            		<i class="material-icons">update</i>
							            	</a>
							            </div>
						            </td>
						            <td>
						            	<div class="align-center">
							            	<a class="delete" th:href="@{#}">
							            			<i class="material-icons">delete</i>
							            	</a>							            	
						            	</div>
						            </td>
						        </tr>
						    </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block> 

<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customCss">
	<!-- JQuery DataTable Css -->
    <link href="/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.min.css" rel="stylesheet">
</th:block>

<th:block layout:fragment="customFooterScript">
	<!-- Jquery DataTable Plugin Js -->
    <script src="/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
    <script>
	    $(function(){
			$('#dataTable').dataTable({
				"aaSorting": []
			});
	    });
    </script>
</th:block>
 
</html>