<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">

<th:block layout:fragment="customTitle">
	<title>입양인 등록</title>
</th:block>
<th:block layout:fragment="customCss">
<!-- Bootstrap Select Css -->
   	<link href="/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
</th:block>	

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="col-lg-12">
			<div class="card">
	            <div class="header">
	                <h2>입양인 등록</h2>
	            </div>
	            <div class="body">
	            	<div class="row clearfix">
	            		<form action="/adoptee/adopteeInsert" method="post">
	            			<div class="col-md-4">
	            				<b>회원 아이디</b>
			                    <div class="input-group">
		            				<select name="memberId" id="memberId">
		            					<option value="">====== 선택 ======</option>
		            					<option th:each="m : ${mList}" th:value="${m.memberId}">[[${m.memberId}]]</option>
		            				</select>
		            			</div>
	            			</div>
	            			<div class="col-md-4">
			                    <b>회원 이름</b>
			                    <div class="input-group">
			                        <div class="form-line">
			                            <input name="memberName" id="memberName" class="form-control" readonly>
			                        </div>
			                    </div>
			                </div>
			                <div class="col-md-4">
			                    <b>회원 주소</b>
			                    <div class="input-group">
			                        <div class="form-line">
			                            <input name="memberAddr" id="memberAddr" class="form-control" readonly>
			                        </div>
			                    </div>
			                </div>
			                <div class="col-md-4">
			                    <b>회원 전화번호 </b>
			                    <div class="input-group">
			                        <div class="form-line">
			                            <input name="memberPhone" id="memberPhone" class="form-control" readonly>
			                        </div>
			                    </div>
			                </div>
			                <div class="col-md-4">
			                    <b>지표 점수 </b>
			                        <div class="form-line">
			                        	<select name="screening_complete_code">
			                        		<option value="">====== 선택 ======</option>
			                            	<option th:each="sc : ${scList}" th:value="${sc.screening_complete_code}">
			                            	[[${sc.screening_complete_totel}]]
			                            	</option>
			                       		</select>
			                        </div>
			                </div>
			                <div class="col-md-4">
								<div class="input-group">
			                        <div class="form-line">
										담당자
			                            <input type="text" class="form-control" th:value="${session.STAFF.staffName}">
			                            <input type="hidden" id="staffCode" class="form-control" name="staffCode" th:value="${session.STAFF.staffCode}">
			                        </div>
								</div>
            				</div>
			                	<button type="submit" class="btn btn-block bg-amber waves-effect">입양인 등록</button>
			            </form>
		            </div>
	            </div>
	        </div>
		</div>
	</section>
</th:block>

<th:block layout:fragment="customHeadScript">
</th:block> 
<th:block layout:fragment="customFooterScript">
	<script>
	$(function(){
		
		//회원 아이디로 회원 이름,주소,전화번호 가져오기
		$('#memberId').change(function(){
			var type = $(this).val();
			var request = $.ajax({
				url: "/ajax/memberType",
				method: "POST",
				data: { "type" : type },
				dataType: "json"
			});
			request.done(function( data ) {
				console.log(data);
				var memberId = '';
				var memberAddr = '';
				var memberPhone = '';
				for(var i=0;i<data.length;i++){
					if(type == data[i].memberId){
						memberId += data[i].memberName;
						memberAddr += data[i].memberAddr;
						memberPhone += data[i].memberPhone;
					}
				}		
				$('#memberName').val(memberId);
				$('#memberAddr').val(memberAddr);
				$('#memberPhone').val(memberPhone);
				
				request.fail(function( jqXHR, textStatus ) {
					alert( "Request failed: " + textStatus );
				});
			});
		});
	});
	</script>

</th:block>
 
</html>
