<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
<th:block layout:fragment="customCss">

</th:block>

 <th:block layout:fragment="customTitle">
 <title>로그인</title>
 </th:block> 

 <th:block layout:fragment="customHeadScript">

</th:block> 
 <th:block layout:fragment="customContents">
 	  <section class="content">
        <div class="container-fluid">
 
        <div class="logo">
            <a href="javascript:void(0);">유기동물<b>관리센터</b></a>
            <small>ksmart 2team 유기동물 관리센터 로그인</small>
        </div>
        <div class="card" style="margin-bottom: 500px; ">
           <div class="login-page login-box">
            <div class="body">
                <form id="loginform" action="/login" method="post">
                    <div class="msg">아이디와 비번을 입력해주세요</div>
                    <div class="demo-button">
                    <button type="button" id="memberlogin"class="btn btn-block btn-lg btn-warning waves-effect">회원로그인</button>
                    </div>
                    <div class="demo-button m-t-10">
                    <button type="button" id="adminlogin" class="btn btn-block btn-lg btn-warning waves-effect">관리자로그인</button>
                    </div>
                    <div class="input-group m-t-10">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" id="memberId" name="memberId" value="id001" placeholder="아이디를 입력해주세요" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" id="memberPw" name="memberPw" value="pw001" placeholder="비밀번호를 입력해주세요" required>
                        </div>
                    </div>
                  
                   
                        <div  class="demo-button">
                            <button class="btn btn-block btn-lg btn bg-red waves-effect" type="submit" id="loginBtn">로그인</button>
                        </div>
                 
                    <div class="row m-t-15 m-b--20">
                        <div class="col-xs-6">
                            <a th:href="@{/addMember}">회원가입</a>
                        </div>
                        <div class="col-xs-6 align-right">
                            <a href="/forgotPassword">비밀번호찾기</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
</section>
 </th:block> 

<th:block layout:fragment="customFooterScript">
 <!-- Validation Plugin Js -->
    <script src="../../plugins/jquery-validation/jquery.validate.js"></script>
       <script src="../../js/pages/examples/sign-in.js"></script>
</th:block>
 
</html>