<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
	
 <th:block layout:fragment="customTitle">
 	
 </th:block> 
<th:block layout:fragment="customHeadScript">
<script>
	document.ready(function(){
		
		function enteroption(){
		 if(window.event.keyCode == 13){
			 document.getElementById("loginform").click();
		 }
		}
	});
</script>
</th:block>
 <th:block layout:fragment="customContents">
  <!-- Vertical Layout -->
  <div style="height: 130px;">
  
  </div>
  
    <section class="content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                            	   회원 로그인
                            </h2>
                           
                        </div>
                        <div class="body">
                            <form id="loginform" action="/login" method="post">
                                <label for="email_address">아이디</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="userId" name="memberId" class="form-control" placeholder="Enter your Id">
                                    </div>
                                </div>
                                <label for="password">Password</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="password"id="userPw" name="memberPw" class="form-control" placeholder="Enter your password">
                                    </div>
                                </div>

                               
                                <br>
                            
							<button type="submit" class="btn btn-primary m-t-15 waves-effect">LOGIN</button>


                             
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
         </section>   
            
            
            <!-- #END# Vertical Layout -->
 
 
 </th:block> 
  
 
 <th:block layout:fragmnet="customFooterScript">

 
 </th:block>

</html>