<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
  
<th:block layout:fragment="customTitle">
	<title>관리자회원수정</title>
</th:block>
<th:block layout:fragment="customCss">
    <!-- Bootstrap Select Css -->
    <link href="../../plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
</th:block>
<th:block layout:fragment="customContents">
    <section class="content">
        <div class="container-fluid">
	<div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                	회원수정
                            </h2>
                        </div>
                        <div class="body">
                            <form action="/member/memberUpdate" method="post">
                                <label for="dbid">아이디</label>
                                <div class="form-group">
                                    <div class="form-line">
                                    	<input th:unless="${mem}!=null" type="text" id="userId" name="memberId" class="form-control"  >
                                        <input th:if="${mem}!=null" type="text" id="userId" name="memberId" class="form-control" th:value="${mem.memberId}" readonly="readonly">
                                    </div>
                                </div>
                                <label for="dbpw">비밀번호</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input th:unless="${mem}!=null" type="text" id="userPw" name="memberPw" class="form-control" >
                                        <input th:if="${mem}!=null" type="text" id="userPw" name="memberPw" class="form-control"  th:value="${mem.memberPw}">
                                    </div>
                                </div>
                                 <label for="dbName">이름</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input th:unless="${mem}!=null" type="text" id="userName" name="memberName" class="form-control">
                                        <input th:if="${mem}!=null" type="text" id="userName" name="memberName" class="form-control"  th:value="${mem.memberName}">
                                    </div>
                                </div>
                                 <label for="dbPhone">전화번호</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input th:unless="${mem}!=null" type="text" id="userPhone" name="memberPhone" class="form-control">
                                        <input th:if="${mem}!=null" type="text" id="userPhone" name="memberPhone" class="form-control" th:value="${mem.memberPhone}">
                                    </div>
                                </div>
                                 <label for="dbAddress">주소</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input th:unless="${mem}!=null" type="text" id="userAddress" name="memberAddr" class="form-control" >
                                        <input th:if="${mem}!=null" type="text" id="userAddress" name="memberAddr" class="form-control" th:value="${mem.memberAddr}" >
                                    </div>
                                </div>
                                   <label for="dbEmail">이메일</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input th:unless="${mem}!=null" type="email" id="userEmail" name="memberEmail" class="form-control">
                                        <input th:if="${mem}!=null" type="email" id="userEmail" name="memberEmail" class="form-control" th:value="${mem.memberEmail}">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary m-t-15 waves-effect">회원수정</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        </section>   

	<th:block layout:fragment="customFooterScript">
	
	</th:block>
	
</html>